<h1>Admin::Dashboard#show</h1>
<br>
  <div class="alert alert-primary" role="alert">Product Count: <%= @products.count %><br></div>
  <div class="alert alert-success" role="alert">Categories Count: <%= @category.count %></div>



</section>